#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------
# Set the environment to development or production.
CI_ENVIRONMENT=development

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------
# Base URL for your application. Adjust this to match your server setup.
app.baseURL=

#--------------------------------------------------------------------
# VITE
#--------------------------------------------------------------------
# Vite development server settings
VITE_ORIGIN='http://localhost:3000'
VITE_PORT=3000
VITE_BUILD_DIR=public/build/assets
VITE_ENTRY_FILE=app.js
VITE_RESOURCES_DIR=resources/js

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------
# Database settings
database.default.hostname=
database.default.database=
database.default.username=
database.default.password=
database.default.DBDriver=
# database.default.DBPrefix=
database.default.port=

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------
# Encryption key (set this to a secure value)
# encryption.key=

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------
# Session settings
# session.driver='CodeIgniter\Session\Handlers\FileHandler'
# session.savePath=null

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------
# Logger settings
logger.threshold=4