/* resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.select-padding {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}

	.slide-fade,
	.slide-fade-enter-active,
	.slide-fade-leave-active {
	  transition: all 0.6s ease;
	}

	.slide-fade,
	.slide-fade-enter-from,
	.slide-fade-leave-to {
		transform: translateX(2rem);
	  opacity: 0;
	}
}